In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\manid\anaconda3\envs\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Load model
model = load_model("model.h5")

WARNING:tensorflow:From c:\Users\manid\anaconda3\envs\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Load preprocessor
with open("preprocessor.pkl", "rb") as f:
    preprocessor = pickle.load(f)

In [4]:
# Input data
input_data = {
    'CreditScore': 502,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 42,
    'Tenure': 8,
    'Balance': 159660,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 0,
    'EstimatedSalary': 110000
}

In [5]:
# Convert to DataFrame
input_df = pd.DataFrame([input_data])
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,502,France,Female,42,8,159660,3,1,0,110000

In [6]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [7]:
# Prediction
prediction = model.predict(input_processed)
prediction_proba = prediction[0][0]

1/1 [==============================] - 0s 314ms/step

In [8]:
# Output
if prediction_proba > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

print("Churn Probability:", prediction_proba)

The customer is not likely to churn.
Churn Probability: 0.10088079

### **Multiple data prediction together**

# 15 sample customers
input_data = [
    {'CreditScore':502,'Geography':'France','Gender':'Female','Age':42,'Tenure':8,'Balance':159660,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':110000},
    {'CreditScore':650,'Geography':'Germany','Gender':'Male','Age':35,'Tenure':5,'Balance':80000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':90000},
    {'CreditScore':720,'Geography':'Spain','Gender':'Female','Age':28,'Tenure':3,'Balance':0,'NumOfProducts':1,'HasCrCard':0,'IsActiveMember':1,'EstimatedSalary':50000},
    {'CreditScore':480,'Geography':'France','Gender':'Male','Age':50,'Tenure':10,'Balance':120000,'NumOfProducts':4,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':70000},
    {'CreditScore':590,'Geography':'Germany','Gender':'Female','Age':45,'Tenure':7,'Balance':100000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':85000},
    {'CreditScore':710,'Geography':'Spain','Gender':'Male','Age':31,'Tenure':6,'Balance':60000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':95000},
    {'CreditScore':430,'Geography':'France','Gender':'Female','Age':55,'Tenure':9,'Balance':140000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':65000},
    {'CreditScore':680,'Geography':'Germany','Gender':'Male','Age':38,'Tenure':4,'Balance':90000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':120000},
    {'CreditScore':750,'Geography':'Spain','Gender':'Female','Age':29,'Tenure':2,'Balance':0,'NumOfProducts':1,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':40000},
    {'CreditScore':560,'Geography':'France','Gender':'Male','Age':47,'Tenure':6,'Balance':110000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':78000},
    {'CreditScore':620,'Geography':'Germany','Gender':'Female','Age':41,'Tenure':8,'Balance':95000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':102000},
    {'CreditScore':495,'Geography':'Spain','Gender':'Male','Age':52,'Tenure':9,'Balance':130000,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':88000},
    {'CreditScore':705,'Geography':'France','Gender':'Female','Age':33,'Tenure':4,'Balance':40000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':92000},
    {'CreditScore':660,'Geography':'Germany','Gender':'Male','Age':36,'Tenure':5,'Balance':70000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':97000},
    {'CreditScore':520,'Geography':'Spain','Gender':'Female','Age':48,'Tenure':7,'Balance':115000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':76000}
]

In [10]:
# Convert to DataFrame
input_df = pd.DataFrame([input_data])

In [11]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,502,France,Female,42,8,159660,3,1,0,110000

In [12]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [13]:
# Predict
predictions = model.predict(input_processed)

1/1 [==============================] - 0s 53ms/step

In [14]:
# Add results
input_df['Churn_Probability'] = predictions
input_df['Churn_Prediction'] = (predictions > 0.5).astype(int)

In [15]:
input_df.head(15)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churn_Probability,Churn_Prediction
0,502,France,Female,42,8,159660,3,1,0,110000,0.100881,0